body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* header && title */
#kc-page-title,
#kc-header-wrapper {
  text-align: center;
}

/* Form Styles */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Form Options Styles */
#kc-form-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* hyperlink */
#kc-form-options a {
  color: #007bffd2;
  text-decoration: none;
}

/* Btn */
#kc-form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#socialBtn {
  font-size: 15px;
  padding: 10px 200px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 5px;
  max-width: 400px;
  text-align: end;
}

#socialBtn a {
  text-decoration: none;
  color: black;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  /* background-color: #007bff; */
  background-color: rgb(5, 112, 217);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.alert-error.pf-m-danger {
  color: red;
}

.properties.kcFormOptionsWrapperClass {
  justify-content: space-between;
}

#forgotPwLink {
  margin-left: 219.46px;
}

#socialLoginBtn {
  text-align: center;
  text-decoration: none;
  margin-left: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
